@import 'utilities';

// Overrides
$body-bg: #203036;
$body-color: #fff;

// Global styles
@import 'reset';

@import 'tools';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
