@import './../../../_assets/styles/utilities';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
